<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
    </head>
    <body>
      <nav>
        <div class="nav-wrapper purple darken-1">
          <a href="#" class="brand-logo">{{title}}</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="">Connexion</a></li>
          </ul>
        </div>
      </nav>
      <router-outlet></router-outlet>
    </body>

    <footer class="page-footer purple darken-1">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Zzouvenir</h5>
              <p class="grey-text text-lighten-4">Projet de Développement Web JEE de 3ème année à l'ISIMA</p>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2024 Copyright Arien Mungongo & Bertrand Leger
          </div>
        </div>
      </footer>

</html>